.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-gap: 10px;
   margin: 5px 35px 0 10px;
   text-align: center;   
   justify-content: center;
   align-items: center;
}


.container img {
   width: 100px;
}

.navItem {
  
}