.container{
   min-width: 640px;
}
.container img {
   width: 100px;
}

.img {
   
   display: grid;
   grid-template-columns: 10% 90% ;
   grid-gap: 10px;
   margin: 5px 10px 5px 10px;
   text-align: center;   
   justify-content: center;
   align-items: center;
   min-width: 50px;
}

.logo {
   grid-row: 1/3;
   justify-content: start;
   margin-left: 25%;;
}


.img h2, .img h1 {
   margin: 0 15% 0 0;
} 

.navItem {
   display: grid;
   grid-template-columns: repeat(6, 16.666%);
   text-align: center;   
   justify-content: center;
   align-items: center;
}

